<div class="container">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Employee Vendor Management</span>
    <span class="spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="false" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active-link">Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active-link">About</a>
        <a mat-list-item routerLink="/vendor" routerLinkActive="active-link">Vendor</a>
        <a mat-list-item routerLink="/employee" routerLinkActive="active-link">Employees</a>
        <a mat-list-item routerLink="/email" routerLinkActive="active-link">Email</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer class="footer">
    Copyright &copy; 2024 Employee Vendor Management
  </footer>
</div>
